MONGODB_URI=
MONGODB_DATABASE_NAME=

JWT_SECRET_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Email Configuration (Nodemailer SMTP)

EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=
FRONTEND_URL=http://localhost:3000
